@page "/User/Index"

<MudPaper Height="100vh" Class="mud-theme-primary" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="@MenuAsOpened" Anchor="Anchor.Left" Elevation="0" Variant="@DrawerVariant.Persistent">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Welcome to Ursulla!</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.FirstPage">Home</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Person">My User</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Accessibility">Characters</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Forum">Community</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings">Settings</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <div class="d-flex justify-center align-center mud-height-full">
            <CharacterCreateAndList />
        </div>
        <div style="position: absolute; top: 20px; left: 20px;">
            <MudButton EndIcon="@Icons.Material.Filled.Menu" Color="Color.Inherit" OnClick="@ToggleLeftDrawer">
                @(MenuAsOpened? "Close Menu":"Open Menu")
            </MudButton>
        </div>
    </MudDrawerContainer>
</MudPaper>

@code
{
    private bool MenuAsOpened = true;

    [CascadingParameter]
    public bool Rtl { get; set; }

    private void ToggleLeftDrawer()
    {
        MenuAsOpened = !MenuAsOpened;
    }
}
